name: Debug Pipeline

on:
  push:
    branches:
      - main

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Show Current Directory
        run: pwd

      - name: Show Files
        run: ls -R
